<h1 class="title-padding">Hello</h1>

<div class="row">
  <div class="col-md-9">
    <h4>Hi there, and welcome to my site! <br> My name is Saugat, and I am a software engineer, video game developer and web designer. I created this website to post my latest projects and to blog about anything that comes to my mind.</h4></br>
    <p>This website is still under construction, but feel free to look around.</p><br><br>
  </div>
  <div class="col-md-3">
    <%= image_tag "SaugatGhimire_home.jpg", size: "200", :alt => "Saugat Ghimire", class: "img-circle" %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Latest blog posts:</h3><br>

    <ul id="blog-list" class="list-unstyled">
      <% @blogs.each do |blog| %>
        <li>
          <%= link_to blog.title, blog_path(blog), class: "blog-header" %><br>
          <% if blog.created_at > 2.days.ago %>
            <small>Posted <%= time_ago_in_words(blog.created_at) %> ago</small>
          <% else %>
            <small>Posted on <%= blog.created_at.strftime("%d %b %Y") %></small>
          <% end %>

          <p>
            <%= raw blog.body.truncate(150, omission: '... (continued)') %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Latest projects:</h3><br>

    <p>Content coming soon...</p>
  </div>
</div>