<h1><%= @blog.title %></h1>
<p><%= @blog.body %></p>
<%= link_to "<< Back to Blogs List", blogs_path %><br>
<%= link_to "edit", edit_blog_path(@blog) %><br>
<%= link_to "delete", blog_path(@blog), method: :delete, data: {confirm: "Are you sure you want to delete this blog post?"} %>